.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  font-family: 'Arial', sans-serif;
  /* Add other global styles as needed */
}
.App-header {
  background-color: #282c34;
  min-height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 38%;
  margin-right: 38%;
}

.App-component{
  background-color: #282c34;
  min-height:235px;
  display: flex;
  flex-direction: column;
  margin-left: 38%;
  margin-right: 38%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* max-width:max-content; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
