.App {
  text-align: center;
  width: 340px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 200px; /* Add some top margin for better spacing */
}

/* ... other styles remain unchanged ... */

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 5px;
}

.App-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
